*{
	  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          margin: 0;
}

.story-title{
	display: inline-block;
	width: 70%;
}

.story-block{
	margin-top: 2.5em;
}

.story-desc h6{
	margin-top: 15px;
	font-family: 'roboto';
	font-weight: 500;
	font-size: 1.3em;
	font-style: italic;
}

.image-active.story-image-block{
	-webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    filter: grayscale(0%); 
}

.story-title h3{
	font-family: 'roboto';
	font-weight: 500;
	font-size: 2em;
	margin-top: 10px;
	margin-bottom: 15px;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.story-title h3:hover{
	color: #D44636;
	cursor: pointer;
}

.story-source h4{
	margin-top: 15px;
	font-family: 'roboto';
	font-weight: 500;
	font-size: 1.25em;
	font-style: italic;
}


#work .story-block .story-cat{
	width: 150px;
	margin:0;
	margin-left: 0;
	display: inline-block;
}

#work .story-block .story-cat h1{
	font-family: 'roboto';
	font-weight: 300;
	font-size: 1.5em;
	margin-top: 10px;
	line-height: 1.7em;
	color: #61A2AF;
}

#work .story-block .story-desc p{
	font-family: 'roboto';
	font-size: 1.1em;
	font-weight: 300;
	line-height: 2em;
	margin-top: 30px;
	margin-bottom: 15px;
	width: 75%;
}

.story-image{
	width: 80%;
	height: auto;
	margin-top: 10px;
	margin-bottom: 40px;
}

.story-image-block{
	margin-top: 15px;
	position: relative;
	cursor: pointer;
	width: 90%;
	-webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%); 
    -moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
	
}


.story-image-block:hover {
	-webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    filter: grayscale(0%); 
}

.social {
	margin-left: 20px;
	color: #B2B1B0;
}

.social:hover {
	color: #E5E581;
	cursor: pointer;
}

.ss{
    display: inline-block;
}

a:-moz-any-link {
	color: inherit;
	text-decoration: inherit;
}

a:-webkit-any-link {
	color: inherit;
	text-decoration: inherit;
}

#contently a:-moz-any-link {
	color: inherit;
	text-decoration: underline;
	cursor: pointer;
}

#contently a:-webkit-any-link {
	color: inherit;
	text-decoration: underline;
	cursor: pointer;
}

#resume p a:-moz-any-link {
	color: #D44636;
	text-decoration: inherit;
	cursor: pointer;
}

#resume p a:-webkit-any-link {
	color: #D44636;
	text-decoration: inherit;
	cursor: pointer;
}

#about p a:-moz-any-link {
	color: #D44636;
	text-decoration: inherit;
	cursor: pointer;
}

#about p a:-webkit-any-link {
	color: #D44636;
	text-decoration: inherit;
	cursor: pointer;
}

body{
	background-color: white;
}

#social-box{
	padding-top: 15%;
	margin-left: -5.5%;
}
#nav{
	background-color: #333332;
	padding-left: 30px;
	padding-right: 20px;
		width: 370px;
	position: fixed;
	height: 110vh;
	padding-top: 4%;
		-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}


#nav h1 {
	font-family: 'roboto';
	color: #fff ;
	font-weight: 500;
	font-size: 500%;
	background-color: #333332;
}

#skills{
	display:inline-block; 
	margin-left:2.5%;
	width:18%;
		position: absolute;
}

#workex{
	display:inline-block; 

	width:70%;
		margin:0; 
}

#nav h2 {
	font-family: 'roboto';
	color: white ;
	font-weight: 100;
	font-size: 250%;
	margin-top: 10px;
	line-height: 130%;
	background-color: #333332;
}

#content {
	margin-left: 450px;
	display: inline-block;
	margin-right: 50px;

}

li{
	list-style-type: none;
}

.segment p{
	font-family: 'roboto';
	font-size: 1.1em;
	font-weight: 300;
	line-height: 2em;
}

/* .story-more {
	display: none;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.visible {
	display: bo

}
*/

#content.error h1{
	font-family: 'roboto';
	font-size: 30px;
	font-weight: 500;
	line-height: 40px;
	margin-bottom: 2%;
	color: #61A2AF;
}

#content.error {
	margin-top: 10%;
}

#error1 {
	bottom: 0;
	position: absolute;
	right: 0;
	width: 100%;
	z-index: -100;
}
footer #blog{
	text-align: left!important;
	font-family: 'roboto';
	font-size: 20px;
	font-weight: 300;
	color: white;
	margin-left: -30px;
	display: block;
}

footer #blog a:hover {
	color: #D44636;
	text-decoration: inherit;
	cursor: pointer;
}

footer #blog a {
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.whatre{
	display: inline-block;
}

footer {
	height: 50px;
	padding-left: 28%;
	padding-top: 12px;
	background-color: #B2B1B0;
}

footer h8{
	margin-right: 30px;
	margin-left: 30px;

}

#resume {
	font-family: 'roboto';
	width: 90%;
}

#resume li {
	font-size: 1em;
	font-weight: 300;
	line-height: 1.8em;
	margin-bottom: 20px;
}
#resume h3 {
	font-weight: 500;
	font-size: 1.8em;
	margin-bottom: 20px;
}

#resume h4 {
	font-weight: 400;
	font-size: 1.25em;
	margin-bottom: 10px;
	line-height: 1.6em;
}

#resume h5 {
	font-weight: 400;
	font-size: 1.1em;
	margin-bottom: 10px;
	font-style: italic;
}

#resume p {
	font-size: 1em;
	font-weight: 300;
	line-height: 1.8em;
	margin-bottom: 20px;
}

#contently h3{
	font-family: 'roboto';
	font-size: 25px;
	font-weight: 400;
	line-height: 40px;
	font-style: italic;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
	cursor: pointer;
	margin-top: 10%;

}

#contently h3:hover{
	color: #D44636;
	
}
#about{
	margin-bottom: 35%;
	margin-top: 8.5%;
}

#work{
	margin-bottom: 15%;
}

#resume {
	margin-bottom: 5%;
}

#contently.pdf{
	margin-bottom: 15%;
}

.segment{
	width: 80%;
	margin-top: 5%;
}

.segment h2 {
	font-family: 'roboto';
	color: #61A2AF;
	font-weight: 300;
	font-size: 2.8em;
	margin-bottom: 8px;
}


#menu .options {
	font-family: 'roboto';
	color: #fff ;
	font-weight: 300;
	font-size: 1.65em;
	margin-top: 1em;
	margin-bottom: 1em;
}

#menu .options-b {
	font-family: 'roboto';
	color: #fff ;
	font-weight: 300;
	font-size: 1.65em;
	margin-top: 1em;
	margin-bottom: 1em;
}

#menu .options-b:hover {
	font-family: 'roboto';
	color: #7B8A89;
	font-weight: 300;
	cursor: pointer;
}

#menu .options:hover {
	font-family: 'roboto';
	color: #7B8A89;
	font-weight: 300;
	cursor: pointer;
}

#menu {
	margin-top: 25%;
	background-color: #333332;
}

.active{
	color: #E5E581!important;
}

@media all and (max-width: 768px){
	#nav {
		display: none;
	}

	#content{
		margin-left: 20px;
	}

	.segment {
		width: 90%;
	}

	#work .story-block .story-desc p{
		width: 90%;
	}

	#work .story-block .story-cat {
		margin-left: 0;
	}

	#resume {
	font-family: 'roboto';
	width: 100%;
	}

	#skills{
	display:block; 
	margin-left:0;
	width:100%;
	}

	#workex{
	display: block; 
	width:100%;
	}

	.whatre{
	display: block;
	}

	footer {
	height: 50px;
	padding-left: 2%;
	width: 100%;
	display: block; 
	bottom: 0;
	}
}

