*{
	  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0;
      font-family: 'IBM Plex Mono', monospace;
}
body{
	margin-left: 4rem;
	margin-top: 3rem;
	margin-bottom: 5rem;
}

a {
	color: #E1695A;
}

a:hover {
	color:  #BCBEC0;
}

.header{
	max-width: 500px;
	line-height: 1.7rem;
}

.header h1{
	margin-bottom: 1.5rem;
	font-size: 2.5rem;
}

.header h1 span{
	display: block;
	font-size: 1rem;
	margin-top: .8rem;
	font-weight: 100;
}

.header p{
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#social-box{
	font-size: .8rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

#social-box a {	
	padding-right: 1rem;
}

#social-box a:hover{
	opacity: .7;
}

.story{
	height: 200px;
    width: 200px;
    display: inline-block;
    margin: 1rem 1rem 1rem 0;
    color: inherit;
    text-decoration: none;
    position: relative;
    border: solid 1px #aaa;
}

.story .container{
		width: 100%;
	}

.story:hover{
	transform: scale(1.5);
    -moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
	z-index: 1000;
	background: #fff;
	color: inherit;
}

.story .image{
	background-size: cover;
	width: 100%;
	height: 100%;
    background-position: 50% 50%;
}

.story .container{
	position: absolute;
	bottom: 0px;
	padding: .3rem;
	background: rgba(255,255,255,.8);
}

.story .container .story-title{
	font-weight: bold;
	font-size: .8rem;
	margin-bottom: .4rem;
}
.story .container .date-line{
	font-weight: light;
	font-size: .7rem;
}

@media (max-width: 600px){
	body{
		width: 90%;
		margin: 2rem auto;
	}

	.story{
		height: 120px;
		width: 100%;
		margin: .5rem .5rem .5rem 0;
	}

	.story:hover{
		transform: scale(1);
	}


	.story .image{
		background-size: cover;
		width: 100%;
		height: 100%;
	    background-position: 50% 60%;
	}

	
	.story:hover .image{
		background-position: 50% 10%;
			-moz-transition: all .4s linear;
		-webkit-transition: all .4s linear;
		-o-transition: all .4s linear;
		transition: all .4s linear;
	}
}