*{
	  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          margin: 0;
          font-family: 'roboto';
}

#mobile-nav{
	display: none;
	background-color: #333332;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

#content h1{
	color: #333332;
	font-size: 2.5em;
	font-weight: 300;

}

#mobile-logo {
	width: 85%;
	display: inline-block;
}

#mobile-logo h1{
	color: #fff ;
	font-weight: 500;
	font-size: 1.5em;
	padding: 0.3em;
}

#mobile-logo h2{
	color: #fff ;
	font-weight: 300;
	font-size: 1.2em;
	padding-left: 0.5em;
}

#hamburger{
	display: inline-block;
	position: absolute;
	color: #C7CCC7;
	padding-top: 2%;
	
}

.segment h3{
	font-weight:300;
	font-size: 1.2em;
	margin-top: 10px;
	margin-bottom: 15px;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.segment h3:hover{
	color: #D44636;
	cursor: pointer;
}

.video{
	margin-top: 15px;
	position: relative;
	cursor: pointer;
	width: 90%;
}




.social {
	margin-left: 20px;
	color: #B2B1B0;
}

.social:hover {
	color: #E5E581;
	cursor: pointer;
}

.ss{
    display: inline-block;
}

a:-moz-any-link {
	color: inherit;
	text-decoration: inherit;
}

a:-webkit-any-link {
	color: inherit;
	text-decoration: inherit;
}

#social-box{
	padding-top: 15%;
	margin-left: -5.5%;
}

#nav{
	background-color: #333332;
	padding-left: 30px;
	padding-right: 20px;
		width: 370px;
	position: fixed;
	height: 110vh;
	padding-top: 4%;
		-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}


#nav h1 {
	color: #fff ;
	font-weight: 500;
	font-size: 500%;
	background-color: #333332;
}

#nav h2 {
	
	color: white ;
	font-weight: 100;
	font-size: 250%;
	margin-top: 10px;
	line-height: 130%;
	background-color: #333332;
}

#content {
	margin-left: 450px;
	display: inline-block;
	margin-right: 50px;
	padding-top: 5%;
}

/* .story-more {
	display: none;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.visible {
	display: bo

}
*/
.links {
	padding-left: 6%;
	padding-top: 2%;
}
.show#menu{
	display: block;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
}

#contently{
	position: absolute;
	top: -10px;
	right: 10px;
	background-color: #DEDDDB;
	width: 350px;
	height: 80px;
	border-radius: 10px;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	position: fixed;
}

#contently h1{
	font-size: 1.5em;
	text-align: center;
	padding-top: 30px;
	font-weight: 500;

}

.segment{
	width: 100%;
	margin-top: 5%;
}

.segment h2 {
	color: #61A2AF;
	font-weight: 300;
	font-size: 2.5em;
	margin-bottom: 8px;
	margin-top: 15%;
}

.segment#words .link-box h2 {
	color: #61A2AF;
	font-style: italic;
	font-weight: 300;
	font-size: 1.5em;
	margin-bottom: 8px;
	margin-top: 7%;
}

#menu .options {
	color: #fff ;
	font-weight: 300;
	font-size: 1.65em;
	margin-top: 1em;
	margin-bottom: 1em;
}

#menu .options-b {
	color: #fff ;
	font-weight: 300;
	font-size: 1.65em;
	margin-top: 1em;
	margin-bottom: 1em;
}

#menu .options-b:hover {
	color: #7B8A89;
	font-weight: 300;
	cursor: pointer;
}

#menu .options:hover {
	color: #7B8A89;
	font-weight: 300;
	cursor: pointer;
}

#menu {
	margin-top: 25%;
	background-color: #333332;
}

#menu .options.active{
	color: #E5E581;
}

.mobile #menu .options.active{
	color: #E5E581;
}

@media screen and (max-width: 650px), screen and (max-height: 700px){
	#nav {
		display: none;
	}

	#content{
		margin-left: 20px;
		margin-right: auto;
	}

	.segment {
		width: 90%;
	}

	#work .story-block .story-desc p{
		width: 100%;
	}

	#work .story-block .story-cat {
		margin-left: 0;
	}

	#resume {
	
	width: 100%;
	}

	#skills{
	display:block; 
	margin-left:0;
	width:95%;
	position: relative;
	}

	#workex{
	display: block; 
	width:95%;
	}

	.whatre{
	display: block;
	}

	footer {
	height: 50px;
	padding-left: 2%;
	width: 100%;
	display: block; 
	bottom: 0;
	}

	.story-image-block{
	-webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    filter: grayscale(0%); 
	}

	.video{
		display: none;
	}

	.story-image{
	width: 100	%;
	height: auto;
	margin-top: 10px;
	margin-bottom: 40px;
	}

	.story-image-block{
		width: 100%;
	}
	#mobile-nav{
	display: block;
	}

	#mobile-logo{
		padding-bottom: 2%;
	}

	#about{
		padding-top: 8em;
	}

	#menu {
	margin-top: 0;
	background-color: #333332;
	padding-bottom: 2%;
	position: absolute;
	width: 100%;
	vertical-align: top;
	opacity: 0.9;
	display: none;
	}

	.options{
		padding-left: 0.5em;
	}

	.options-b{
		padding-left: 0.5em;
	}

	#contently{
		display: block;
		position: relative;
	}

	#about #social-box{
	display: block;
	padding-top: 3%;
	margin-left: -2.5%;
	}

	#about .social:hover{
		color:#61A2AF
	}

	.story-title{
		width: 100%;
	}

	#work .story-block .story-cat{
		width: 100%;
	}

	#work .story-block .story-cat h1{
	
	font-weight: 300;
	font-size: 1.3em;
	}

	#content.error img{
	width: 100%;
	padding-right: 3%;
	}
}

